<div class="satelite_lead">
    誰にも明かせない迷いを抱え、本物の答えを求める占い好きのあなたに捧げる、本格占い体験。宿命の数理、ジオマンシー透視が未来を描き出す。カルマ音階が心の奥底を響かせ、神秘の巫女が繋ぐ深層心理リーディングが隠れた願望を炙り出します。有料だからこそ実現する圧倒的な的中率と唯一無二の世界観。今、この瞬間から、あなた自身の物語を動かし始めてください。
</div>
<div class="satelite_wrapper">
    <!--{foreach from=$satelite_items item=item}-->
    <div class="item">
        <a href="<!--{$item.url}-->">
            <img src="<!--{$item.img}-->">
        </a>
        <div class="text">
            <!--{$item.text}-->
        </div>
    </div>
    <!--{/foreach}-->
</div>
