<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xml:lang="ja" lang="ja" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<base href="<!--{$smarty.const.ISP_BASE_URL}-->web/">
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<meta name="viewport" content="width=device-width" />
	<title>監修者・占術紹介｜<!--{if ISP == nifty}-->@nifty:<!--{/if}--><!--{$smarty.const.CONTENTS_NAME}--></title>
	<link rel="stylesheet" href="css/smp/sp.css" type="text/css" />
	<script type="text/javascript" src="js/jquery1.8.js"></script>
	<script type="text/javascript" src="js/default_form_ie.js"></script>
	<script type="text/javascript" src="js/date.js"></script>
	<script src="js/jquery.tile.js" type="text/javascript"></script>
	<script type="text/javascript" src="js/smp/profile.js"></script>
	<script type="text/javascript" src="js/smp/pagetop.js"></script>
	<script type="text/javascript" src="js/rakuten_logo.js"></script>
	<meta name="description" content="冬月式【極】算命学では生年月日から割り出される十干 · 十大主星· 十二大従星から運命を当て尽くします。2人の繋がりがわかる相性占いでは、タロット占いを合わせて使うことで2人の本質や関係性、恋愛相性、結婚相性、夫婦相性など相手との全相性を高精度で鑑定します。">
	<!--{include file="file:./parts/ga.html"}-->
</head>
<body class="ow_body">

<!--{include file="file:../../../../../common/header_isp.html"}-->
<!--{include file="file:./parts/header_menu.html"}-->

	<div class="ow_main">

		<div class="ow_bread">
			<a href="<!--{$smarty.const.CONTENTS_URL}-->">TOP</a> &gt;
			監修者・占術紹介
		</div>

		<div class="ow_profile" id="profile">
			<div class="ow_profile_top_wrap ow_tac">
				<div class="ow_profile_top">
					<img class="ow_vab" src="img/smp/profile/profile_top.jpg" alt="監修者紹介" title="監修者紹介"/ >
				</div>
				<div class="ow_profile_item ow_profile_teller">
					<img src="img/smp/profile/profile_teller.png" alt=""/>
				</div>
				<div class="ow_profile_item ow_profile_name">
					<img src="img/smp/profile/profile_name.png" alt="冬月ちき" title="冬月ちき"/>
				</div>
				<div class="ow_profile_item ow_profile_decoration_1">
					<img src="img/smp/profile/profile_decoration_1.png" alt=""/>
				</div>
				<div class="ow_profile_item ow_profile_decoration_2">
					<img src="img/smp/profile/profile_decoration_2.png" alt=""/>
				</div>
				<div class="ow_profile_item ow_profile_setumei">
					<img src="img/smp/profile/profile_text.png" alt="決して否定することなくあなたに寄り添います。驚くほど腑に落ちる的中鑑定" title="決して否定することなくあなたに寄り添います。驚くほど腑に落ちる的中鑑定"/>
				</div>
			</div>
			<!-- /.ow_profile_top_wrap -->
			<div class="ow_profile_mid">
				<div class="ow_profile_text">
					<div class="ow_profile_text_top ow_tac">
						<img src="img/smp/profile/profile_text_top.png" alt="">
					</div>
					<div class="ow_profile_frame_text">
						沖縄在住。タロットも使う算命学鑑定師。<br>
						子どもの頃から世界の仕組みに興味があり、タロット、占星術、おまじないに親しむ。<br>
						役者、サービス業、ライターなどさまざまな職業を経験する中で本当の自分の生き方を模索するように。<br>
						<br>
						周囲からの「占ってほしい」という声がきっかけで、本格的に鑑定師の道へ。<br>
						タロットと自然に根ざした算命学をかけ合わせた論理的な解説が、腑に落ちると好評を得ている。また、動画での占い活動にも力を入れている。
					</div>
					<div class="ow_profile_text_btm ow_tac" >
						<img src="img/smp/profile/profile_text_btm.png" alt="">
					</div>
				</div>
				<!--/.ow_profile_text-->
				<div class="ow_profile_message_title ow_tac">
					<img src="img/smp/profile/profile_message_title.png" alt="冬月ちきからメッセージ" title="冬月ちきからメッセージ">
				</div>
				<div class="ow_profile_message_top ow_tac">
					<img class="ow_vat" src="img/smp/profile/profile_message_top.jpg" alt="">
				</div>
				<div class="ow_profile_message">
					<div class="ow_profile_message_text">
						こんにちは。冬月です。5歳の時「世界の仕組みを知りたい」と思ったことが、私の占いのスタートでした。<br>
						<br>
						運勢予測は人生の天気予報のようなものです。 晴れだけの人生も、嵐だけの人生もありません。<br>
						<br>
						私はどんなに苦しい瞬間にも意味があると感じています。あなたが立ち止まりそうになるその時に、一歩前へ進めるような言葉をお伝えすることで、より良い明日を迎えるお手伝いができたらいいなと思っております。
					</div>
					<div class="ow_profile_message_name">
						冬月ちき
					</div>
				</div>
				<div class="ow_profile_message_btm ow_tac">
					<img class="ow_vat" src="img/smp/profile/profile_message_btm.jpg" alt="">
				</div>
			</div>
			<div class="ow_profile_btm ow_tac">
				<img class="ow_vat" src="img/smp/profile/profile_btm.jpg" alt="">
			</div>
		</div>
		<!-- /.ow_profile -->


		<!-- ow_free -->
		<div class="ow_free_title ow_tac">
			<img src="img/smp/top/free_title.png" alt="無料鑑定" title="無料鑑定"/>
		</div>
		<div class="ow_free ow_tac">
				<div class="ow_free_btn ow_tac"><a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=14" class="ow_free_btn_link ow_free_btn_link_1"><img src="img/smp/top/btn_free_1.png" alt="恋愛　真実がここにある!　【奇跡の算命学】今あの人があなたに対して思っていること　完全無料で占う" title="恋愛　真実がここにある!　【奇跡の算命学】今あの人があなたに対して思っていること　完全無料で占う"/></a></div>
				<div class="ow_free_btn ow_tac"><a href="<!--{$smarty.const.ISP_BASE_URL}-->web/?menu=13" class="ow_free_btn_link ow_free_btn_link_2"><img src="img/smp/top/btn_free_2.png" alt="結婚　結婚運命を算出!　1年以内に出会いはある？あなたの婚期と運命の相手　完全無料で占う" title="結婚　結婚運命を算出!　1年以内に出会いはある？あなたの婚期と運命の相手　完全無料で占う"/></a></div>
		</div>
		<!-- /.ow_free -->


<!--{include file="file:parts/sample.html"}-->
<!--{include file="file:parts/recommend.html"}-->

	</div>
	<!-- /.ow_main -->

<!--{include file="file:./parts/footer_menu.html"}-->

</body>
</html>
